<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>angular file upload</title>
</head>
<body>
	<form ng-controller="uploader">
		<input type="file"
			onchange="angular.element(this).scope().filesChanged(this)" 
			multiple />
		<button ng-click="upload()">Upload</button>
		<li ng-repeat="file in files">{{file.name}}</li>
	</form>
	<script type="text/javascript" src="lib/angularjs/angular.min.js"></script>
	<script>
		angular.module('app', []).
		controller('uploader', ['$scope', '$http', 
			function($scope, $http) {

				$scope.filesChanged = function(elm) {
					$scope.files = elm.files;
					$scope.$apply();
				}

				$scope.upload = function() {
					$http.post('upload.php', $scope.files, 
					{
						headers:{'Content-Type': 'multipart/form-data'}
					})
					.success(function (d) {
						console.log(d);
					})
				}
			}
		]);
	</script>
</body>
</html>