<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Hola mundo en Angular</title>
</head>
<body>
	<input type="text" ng-model="campotexto">
	<br/>
	Input : {{ campotexto }} - Combo : {{ camposelect }}
	<br/>
	<select ng-model="camposelect">
		<option value="uno">1</option>
		<option value="dos">2</option>
	</select>
	<br/>
	<input type="button" ng-click="campotexto='Valor inicial'" value="Inicializar input">
	<input type="button" ng-click="camposelect='uno'" value="Inicializar combo">

	<script src="../js/angular.js" type="text/javascript"></script>
</body>
</html>