<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">AngularJS - Gestión de Formularios</div>
            </div>

            <div class="panel-body" >
                <form name="userForm" class="form-horizontal" novalidate>
                    <fieldset>
                        <legend>Datos del Usuario</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">Nombre</label>
                            <div class="col-sm-6">
                                <input name="name" type="text" class="form-control" ng-model="userctrl.user.name" ng-model-options="{ updateOn: 'blur' }" required>
                            </div>
                            <span class="col-sm-3" class="messages" ng-show="userForm.$submited || userForm.name.$touched">
                                <span ng-show="userForm.name.$error.required">El campo es obligatorio</span>
                            </span>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="email">Email</label>
                            <div class="col-sm-6">
                                <input name="email" type="email" class="form-control" ng-model="userctrl.user.email" ng-model-options="{ updateOn: 'blur' }" required>
                            </div>
                            <span class="col-sm-3" class="messages" ng-show="userForm.$submited || userForm.name.$touched">
                                <span ng-show="userForm.email.$error.required">El campo es obligatorio</span>
                                <span ng-show="userForm.email.$error.email">Formato de mail incorrecto</span>
                            </span>
                        </div>
                    </fieldset>
                    <div class="col-sm-offset-4 col-sm-2">
                      <button type="submit" class="btn btn-primary" ng-click="userctrl.update()" ng-disabled="!userForm.$valid">
                          <span>Submit</span>
                      </button>
                    </div>
                    <div class="col-sm-offset-2 col-sm-4">
                        <a ng-click="userctrl.reset(userForm)" class="btn btn-primary">Reset</a>
                    </div>
                </form>
            </div>
            <div class="panel-footer" ng-hide="userctrl.message===''">
              <div class="alert alert-info" role="alert" >
                  {{userctrl.user | json}}
              </div>
            </div>
        </div>
    </div>


</div>
