<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Nueva Cuenta de Depósito</div>
            </div>

            <div class="panel-body" >
                <form name="createAccount" class="form-horizontal" role="form" ng-submit="accountcreate.create()">
                    <fieldset>
                        <legend>Datos de la Cuenta de Depósito</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="number">Id</label>
                            <div class="col-sm-9">
                                <input ng-model="accountcreate.account.id" type="text" class="form-control" name="account_id" id="account_id" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="title">Banco</label>
                            <div class="col-sm-9">
                                <input ng-model="accountcreate.account.bank" type="text" class="form-control" name="account_bank" id="account_bank" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="title">Sucursal</label>
                            <div class="col-sm-9">
                                <input ng-model="accountcreate.account.branch" type="text" class="form-control" name="account_branch" id="account_branch" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="title">Cuenta</label>
                            <div class="col-sm-9">
                                <input ng-model="accountcreate.account.account" type="text" class="form-control" name="account_account" id="account_account" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="title">Referencia</label>
                            <div class="col-sm-9">
                                <input ng-model="accountcreate.account.reference" type="text" class="form-control" name="account_reference" id="account_reference" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="title">Grupo</label>
                            <div class="col-sm-9">
                                <input ng-model="accountcreate.account.ownerGroup" type="text" class="form-control" name="account_ownerGroup" id="account_ownerGroup" required>
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-lg-offset-4 col-lg-2">
                      <button type="submit" class="btn btn-primary" ng-disabled="!createAccount.$valid">
                          <span>Grabar</span>
                      </button>
                    </div>
                    <div class="col-lg-offset-2 col-lg-4">
                        <!-- a ng-href="/" class="btn btn-primary">Volver</a -->
                        <a ng-click="accountcreate.back()" class="btn btn-primary">Volver</a>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <p class="bg-primary text-primary">{{accountcreate.message}}</p>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>
