<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Cuenta de Depósito {{accountdetail.account.id}}</div>
            </div>

            <div class="panel-body" >
                <form name="updateAccount" class="form-horizontal" role="form" ng-submit="accountdetail.update()">
                    <fieldset>
                        <legend>Datos de la Cuenta de Depósito</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="number">Id</label>
                            <div class="col-sm-9">
                                <input ng-model="accountdetail.account.id" type="text" class="form-control" name="account_id" id="account_id" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="title">Banco</label>
                            <div class="col-sm-9">
                                <input ng-model="accountdetail.account.bank" type="text" class="form-control" name="account_bank" id="account_bank" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="title">Sucursal</label>
                            <div class="col-sm-9">
                                <input ng-model="accountdetail.account.branch" type="text" class="form-control" name="account_branch" id="account_branch" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="title">Cuenta</label>
                            <div class="col-sm-9">
                                <input ng-model="accountdetail.account.account" type="text" class="form-control" name="account_account" id="account_account" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="title">Referencia</label>
                            <div class="col-sm-9">
                                <input ng-model="accountdetail.account.reference" type="text" class="form-control" name="account_reference" id="account_reference" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="title">Grupo</label>
                            <div class="col-sm-9">
                                <input ng-model="accountdetail.account.ownerGroup" type="text" class="form-control" name="account_ownerGroup" id="account_ownerGroup" required>
                            </div>
                        </div>
                    </fieldset>
                    <div>
                      <div class="col-sm-offset-4 col-sm-2">
                        <button type="submit" class="btn btn-primary" ng-disabled="!updateAccount.$valid">
                            <span>Grabar</span>
                        </button>
                      </div>
                      <div class="col-sm-offset-2 col-sm-4">
                          <a ng-click="accountdetail.back()" class="btn btn-primary">Volver</a>
                      </div>
                    </div>

                </form>
            </div>
            <div class="panel-footer"  ng-hide="accountdetail.message===''">
              <div class="alert alert-info" role="alert">
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  {{accountdetail.message}}
              </div>
            </div>
        </div>
    </div>


</div>
